# Add any directories, files, or patterns you don't want to be tracked by version control
# Compiled file
*.class
*.pyc

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Misc Files
*.tmp
*.bak
*.swp

# Folders
*/bin/*
*/target/*
